*{
	/*font-family: 'Open Sans', sans-serif;*/
}
section{
	
}
p{
	text-align: justify;
	margin-left: 2px;
	font:inherit;
}
p::selection {
	background: #000000;
	color:#FFFFFF;
}
.nav{
	width: 100%;
}

li{
	text-align: center;
	float: left;
	font-size: 1.5em;
	display: inline;
	width: 20%;
	transition: 0.3s;
}
li a{
	color: #FFFFFF;

}
li a:hover {
	color: #BFBFBF;
	text-decoration: none;
}
li a:focus {
	color: #FFFFFF;
	text-decoration: none;
}
footer{
	background-color: #0c1133;
}
footer p{
	text-align: center;
	color: #FFFFFF;
	width: 50%;
	padding: 5px;
}
input{
	border-radius: 3px;
}
.btn{					/*Clase de botones*/
	transition: 0.3s;	/*Efecto de transicion en botones*/
}
.btn:hover{					/*Clase de botones, propiedades cuando se pasa por encima*/
 	transform: scale(1.2);	/*Efecto de escala, lo hace mas grande*/
 }
.logo{
	height: 100%;
	width: 100%;
	background-image: url(../images/WebFactory/Logo_WebFactory_Azul.png);
	display:inline-block;
}
.Inicio{
	padding-top: 70px;
}
.imagen_i{
	width: 100%;
	height: 400px;
	background-image:url(../images/water.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.menu{
	width: 100%;
	padding-top:10px; 
	height: 70px;
	background-color: #0c1133;
	position: fixed;
	z-index: 5;
}

.who{

	height: auto;
}
.whoim{
	height: 100%;

	background-image: url(../images/s5.jpg);
	display: inline-block;
}
.whotxt{
	float: right;

	display: inline;
}
.row{
	height: 420px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}
.s1, .s2, .s3, .s4, .whoim{
	height: 300px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 5px;
}
.s1{
	background-image: url(../images/s1.jpg);
}
.s2{
	background-image: url(../images/s2.jpg);
}
.s3 {
	background-image: url(../images/s3.jpg);
}
.s4{
	background-image: url(../images/s4.jpg);
}
.textimg{
	height: auto;
}

.mapa {

    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius:5px;
}
.mapa iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 90%;
	height: 100%;
	padding-left: 5%;
}

.ir-arriba {
	display:none;
	padding:20px;
	background:#0c1133;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:2%;
	right:2%;
	border-radius: 50px;
	opacity: .7;
	z-index: 10;
}
#titles{
	text-align: center;
}
#form{
	margin-bottom: 15px;
}
@media screen and (max-width: 1060px) {
	li{
		font-size: 1em;
	}	
}