*{

}
section{
	
}
p{
	text-align: justify;
	margin-left: 2px;
	margin-right: 2px;
}
nav{
	width: 100%;
}
.menu{
	width: 100%;
	margin-top:0px; 
	height: 70px;
	background-color: #000000;
	opacity:.5 ;
	position: fixed;
	z-index: 5;
	border-radius: 0px 0px 5px 5px;
}
li{
	text-align: center;
	float: left;
	font-size: 2em;
	display: inline;
	width: 20%;
}
li a{
	color: #FFFFFF;

}
li a:hover {
	color: #BFBFBF;
	text-decoration: none;
}
li a:focus {
	color: #FFFFFF;
	text-decoration: none;
}
.logo{
	height: 100%;
	width: 100%;
	background-image: url(images/s6.jpg);
}
.pinicio{
	padding-top: 70px;
}
.imagen_i{
	width: 100%;
	height: 400px;
	background-image:url(images/water.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#titles{
	text-align: center;
}
.who{

	height: auto;
}
.whoim{
	height: 100%;

	background-image: url(images/s5.jpg);
	display: inline-block;
}
.whotxt{
	float: right;

	display: inline;
}
.row{
	height: 420px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}
.s1, .s2, .s3, .s4, .whoim{
	height: 300px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 5px;
}
.s1{
	background-image: url(images/s1.jpg);
}
.s2{
	background-image: url(images/s2.jpg);
}
.s3 {
	background-image: url(images/s3.jpg);
}
.s4{
	background-image: url(images/s4.jpg);
}
.textimg{
	height: auto;
}
input{
	border-radius: 3px;
}
#form{
	margin-bottom: 15px;
}
.mapa {

    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius:5px;
}
.mapa iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 90%;
	height: 100%;
	padding-left: 5%;
}
footer{
	background-color: #BFBFBF;
}
footer p{
	text-align: center;
}
CSS

.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}
.ir-arriba {
	display:none;
	padding:20px;
	background:#BFBFBF;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
	border-radius: 50px;
	opacity: .5;
}
@media screen and (max-width: 1060px) {
	li{
		font-size: 1em;
	}	
}

#revealAnim .images-container img {
    -webkit-transition: -webkit-transform .6s .9s;
    -moz-transition: -moz-transform .6s .9s;
    transition: transform .6s .9s;
}
#revealAnim .images-container .back { z-index:2;
    -webkit-transform:translate3d(-40%, 0, 0);
       -moz-transform:translate3d(-40%, 0, 0);
            transform:translate3d(-40%, 0, 0);
}
#revealAnim .images-container .front {
    -webkit-transform:translate3d(61.6%, 0, 0);
       -moz-transform:translate3d(61.6%, 0, 0);
            transform:translate3d(61.6%, 0, 0);
}
#revealAnim .images-container .side {
    -webkit-transform:translate3d(-338%, 0, 0);
       -moz-transform:translate3d(-338%, 0, 0);
            transform:translate3d(-338%, 0, 0);
}
.viewing-page-2 #revealAnim .images-container img {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}